
@{
    ViewBag.Title = "Index";
}

<h2>Beebot Exemplars</h2>

<h3>Beebot 1</h3>
<p>This beebot carries its controls on its back</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/97687495/?autostart=false" frameborder="0" allowfullscreen></iframe>


<h3>Beebot 2</h3>
<p>This beebot has a fixed control panel</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/97724628/?autostart=false" frameborder="0" allowfullscreen></iframe>

<h3>Beebot 3</h3>
<p>This beebot uses the arrow keys, space bar for go, and x for clear</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/97725784/?autostart=false" frameborder="0" allowfullscreen></iframe>


