
@{
    ViewBag.Title = "Lessons";
}

<h2>Lessons</h2>

<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/87493173/?autostart=false" frameborder="0" allowfullscreen></iframe>

<p>Drag the characters around to order them</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/88235715/?autostart=false" frameborder="0" allowfullscreen></iframe>

var canvas = document.getElementById("mycanvas");
var img    = canvas.toDataURL("image/png");
document.write('<img src="'+img+'" />');
