
@{
    ViewBag.Title = "Feedback";
}

<h2>The End</h2>
<p>Thanks so much for helping with The Great Lift Problem.</p>
<p><br />Check with your teacher or parent
    <ul>
        <li>you may want to do it again and make some different choices, in which case click @Html.ActionLink("Start Again", "Index", "Requirements")</li>
        <li>or you may be ready to answer the short quiz in which case carry on.</li>
</ul>
    </p> 

<p>
    <h3>Activity 1 Worksheet</h3>
    Here is our learning worksheet for Activity 1. Would you help me by filling it out when your grown up says it's time?
</p>
<iframe src="https://docs.google.com/forms/d/1aAlUlmE4BNvkAQIujPT5iS7S6AkCPRMcabrUE_EJNKU/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
