
@{
    ViewBag.Title = "Index";
}

<h2>Activity 1</h2>
<h2>Requirements Analysis</h2>
<h1>The Great Lift Problem</h1>
<img src="/Images/Page6_thelifts.png" style="width:256px;height:256px;float:right"/>
<p>
    This choose -your-own-adventure story explores a technology project with you in control.
</p>

<p>
    <b>First you need a worksheet:</b>    
    <br /><a href="http://goo.gl/forms/ImEVlf0ei2" target="_blank">Online worksheet</a> or <a href="~/Images/Requirements_Worksheetv2.pdf" target="_blank">Paper Worksheet</a>
    <br /><i><small>If you open an online worksheet pull it to its own window and place the activity and the worksheet windows side by side.</small></i>
</p>

<p>
    <b>Now you are ready to start the activity:</b>
    <br />@Html.ActionLink("Online Activity", "Page1", "Requirements") or <a href="~/Images/TheGreatLiftProblem.pdf">Paper Activity</a>
</p>






