
@{
    ViewBag.Title = "Page8";
}

<h2>Page 8</h2>
<img src="/Images/Page8_mendthelifts.png" style="float:right;width:256px;height:256px;" />
<p>
    Finally, you have it cracked, you understand the code and you are sure you’ve improved it. You install it onto Felix’s lift system and send Felix a bill for your time.
    You don’t hear anything from Felix for a while, so eventually you phone him. He sounds slightly embarrassed when you ask how things are. Nothing’s changed, he says, the customers are complaining as much as ever.
    Oh dear. 

</p>
<p>
    <b>Can you do anything more?</b>
</p>
<ul>    
    <li>If you decide you’ve done all you can, go to page @Html.ActionLink("Page 2", "Page2", "Requirements")</li>
    <li>If you think perhaps he needs to build another lift go to page @Html.ActionLink("Page 4", "Page4", "Requirements")</li>
    <li>If you decide to spend a day observing the lift use go to page @Html.ActionLink("Page 6", "Page6", "Requirements")</li>
</ul>
