
@{
    ViewBag.Title = "Page9";
}

<h2>Page 9</h2>
<img src="~/Images/Page9_shrug.png" style="float:right;width:256px;height:256px;" />
<p>
    Well, there’s nothing wrong with the lifts after all. The customers are simply wrong and there is no point in you wasting any more time on it.
    You are sorry to tell Felix that his customers are wrong, but that is just the way it is.
    Poor Felix, Comfy Hotel continues to lose money, and once more you lose touch with your friend.
</p>
<p>
    <b>THE END</b>    
    <br />Click "Activity 2" on the menu bar above if you would like to start gain.    
</p>
