
@{
    ViewBag.Title = "Page12";
}

<h2>Page 12</h2>
<img src="/Images/Page12_hare.png" style="float:right;width:256px;height:256px;" />
<p>
    Mr Rushmore seems to be in an absolutely terrible mood. He is prepared to talk to you for only as long as it takes to get in the lift and go up to his room on the 7th floor. “Plenty of time” he quips, though by your estimation it is likely to be about 4 minutes.
    During your tense journey up the lift with Mr Rushmore you observe him try to make a phone call while in the middle of talking to you, and then cursing because there is no reception. Even though the lift comes almost straight away nothing seems to make him happy and he shuts his door in your face.
    You are beginning to feel that the customer might not always be right. What now?
</p>
<ul>    
    <li>If you decide to talk to Mrs Slowmore go to @Html.ActionLink("Page 11", "Page11", "Requirements")</li>
    <li>If you think Felix needs to do something about the mobile phone reception go to @Html.ActionLink("Page 15", "Page15", "Requirements")</li>
    <li>If you’ve spoken to both the guests and would like to have a little think go to @Html.ActionLink("Page 14", "Page14", "Requirements")</li>

</ul>
