
@{
    ViewBag.Title = "Page15";
}

<h2>Page 15</h2>
<img src="/Images/Page15_phone.png" style="float:right;width:256px;height:256px;" />
<p>
    You happen to know a bit about mobile phone boosters because you recently had to install one in your office. You phone the same company and because they know you they are able to come out the very same day and install a booster.
    This has got to be good! You are delighted! You tell Felix his problems are over and go back to work.
    A few weeks later you are puzzled that you haven’t heard from Felix, so you give him a call. You ask how the lifts are going and he seems a bit embarrassed.
    “Well, they are not actually any faster, of course, we are still getting complaints…and we have started getting complaints from some of the customers about people having loud telephone conversations in the lifts! It is really a very unsociable place to talk on the phone, people can’t get away. Poor Mrs Slowmore came to me in tears after having Mr Rushmore shout at someone 30 cm away from her ears. I’m afraid it is not a great success old friend.”
    Oh dear. Well you’ve done all you can, haven’t you?

</p>
<ul>    
    <li>If you decide that is all you can really do, go to @Html.ActionLink("Page 9", "Page9", "Requirements")</li>
    <li>If you’d like to have another think, go to @Html.ActionLink("Page 14", "Page14", "Requirements")</li>
</ul>
