
@{
    ViewBag.Title = "Page3";
}

<h2>Page 3</h2>
<img src="/Images/Page3_comfyhotel.png" style="float:right;width:256px;height:256px;"/>
<p 
    It is a while since you have been to the Comfy Hotel, and you are quite excited to be back.
    <br />As you shake Felix’s hand in his office you realise you have been neglecting your old friend.
    <br />He offers you a cup of tea and explains the problem.
    It’s simple. There are just 2 lifts serving the 10 floors of the hotel. 
    <br />The customers are complaining that the lifts are too slow! 
    <br />There have been so many complaints, more about that than any other single thing (not even as many customers complained when Felix’s son Billy accidently let his pet rat out in the restaurant!)
    <br />Now Felix is asking you – what should he do?
</p>
<p>
    <b> What will you say?</b>
</p>
<ul>
    <li>If you tell him that he needs to build another lift, go to @Html.ActionLink("Page 4", "Page4", "Requirements")</li>
    <li>If you tell him that you will try to speed up the lift by changing the code, go to @Html.ActionLink("Page 5", "Page5", "Requirements")</li>
    <li>If you tell him that you would like to spend a day observing the lift use, go to @Html.ActionLink("Page 6", "Page6", "Requirements")</li>
</ul>


