
@{
    ViewBag.Title = "Page11";
}

<h2>Page 11</h2>
<img src="/Images/Page11_snail.png" style="float:right;width:256px;height:256px;" />
<p>
    Mrs Slowmore is a lovely old lady. You meet her in the restaurant and you both have tea and cakes on the house while she shows you photos of her grandchildren. Eventually you manage to steer her to the subject of the slow lifts – she has never complained she stresses! But does she think the lifts are slow.
    “Oh they are terrible!” she exclaims. “Dreadful! Never have I known lifts like it! Not like those lovely lifts at Le Grand Store!”.
    “Le Grande Store? The luxury department store on 12th and 14th street?” you ask.
    “Oh yes! They are marvellous!” she smiles.
    Interesting. You finish your tea and cakes and then decide what to do next.

</p>
<ul>    
    <li>If you decide to talk to Mr Rushmore go to @Html.ActionLink("Page 12", "Page12", "Requirements")</li>
    <li>If you decide to visit Le Grande Store go to @Html.ActionLink("Page 13", "Page13", "Requirements")</li>
    <li>If you’ve spoken to both the guests and would like to have a little think go to @Html.ActionLink("Page 14", "Page14", "Requirements")</li>

</ul>
