
@{
    ViewBag.Title = "Page4";
}

<h2>Page 4</h2>
<img src="/Images/Page4_perfectlifts.png" style="float:right;width:256px;height:256px;" />
<p>
    Brilliant, there couldn’t be a simpler solution! 
    <br />You are not exactly an expert on building lifts, true, but you know all about optimisation and workflow. If this was a computer system you’d just code in another one! 
</P>
 <p>
    You get in Polite Building Corps to give you a quote and then you go and discuss it with Felix.
    <br />Polite Building Corps have created a nice big glossy package for you and Felix to look through. They have some artists’ pictures of what the finished 3 lifts will look like and they do look brilliant, you are feeling very pleased. Until Felix spots the quote at the end.
    <br />“It estimates that it will take a year!” says Felix!
    <br />“Goodness” you exclaim “and it’s sure to be even longer…”.
    <br />“Well my friend” says Felix, “I trust you and I’m sure you know better than me. What shall I do?”.
</p>
<p>
    <b> What will you advise?</b>

</p>
<ul>    
    <li>If you stick to it and suggest he install the new lift go to @Html.ActionLink("Page 7", "Page7", "Requirements")</li>
    <li>If you suggest instead you try to speed up the algorithm go to @Html.ActionLink("Page 5", "Page5", "Requirements")</li>
    <li>If you decide it’s time to spend a day observing the lift go to @Html.ActionLink("Page 6", "Page6", "Requirements")</li>
</ul>
