
@{
    ViewBag.Title = "Page6";
}

<h2>Page 6</h2>
<img src="/Images/Page6_thelifts.png" style="float:right;width:256px;height:256px;" />
<p>
    A day observing, it seems almost like a waste of your time!
    <br />You spend so much of your time rushing here there to and from meetings can this really be worthwhile? You decide to start off in the lobby and time how long it takes for the lift to come for every person.
    <br />From time to time Felix’s wife Karen, who is the staff manager of the hotel, brings you a cup of tea and a biscuit – ahh it’s not so bad after all.
</p>
<p>
    By lunch time you have timed 20 people taking the lift, and on average each of them has to wait 3 minutes. You decide to spend the rest of the afternoon on different floors, although it is a bit difficult guessing which floor to be on, so you set up on the 10th.  You only see 3 people (and they do wonder why you are sitting next to the lift with a cup of tea), and the lift times are instant, 5 minutes and 2 minutes.
</p>
<p>
    <b>So, what does all this mean?</b>
</p>
<ul>    
    <li>If you decide there is nothing wrong with the lifts after all go to @Html.ActionLink("Page 9", "Page9", "Requirements")</li>
    <li>If you decide you’d like to talk to some of the guests go to @Html.ActionLink("Page 10", "Page10", "Requirements")</li>
</ul>

