
@{
    ViewBag.Title = "Page7";
}

<h2>Page 7</h2>
<img src="/Images/Page7_brokenlifts.png" style="float:right;width:256px;height:256px;" />
<p>
    So, this is the plan, a year spent building a new lift, it’s got to be better, you are sure it is the simplest solution, the brochure’s look super.
</p>
<p>
    But, well, unfortunately things don’t go quite so well. Customers are already a bit fed up with the hotel, but once the building works starts…oh dear the noise! The dust! And sometimes none of the lifts work at all!
</p>
<p>
    Over the year poor old Felix slowly loses all of his customers and in the end he has to close Comfy Hotel before the lift is even finished.
</p>
<p>
    Well, it wasn’t your fault, you did do your best to help him didn’t you?
</p>
<p>
    <b>THE END</b>    
    <br />Click "Activity 2" on the menu bar above if you would like to start gain.    
</p>