
@{
    ViewBag.Title = "Page17";
}

<h2>Page 17</h2>
<img src="/Images/Page17_fireworks.png" style="float:right;width:256px;height:256px;" />
<p>
    Felix thinks you are barking mad, but you explain. No it’s true it won’t make the lifts faster, but it will give people something to do! Try it! It will cost precisely 10 for each mirror and there are 10 floors, that is only £100. And they can all be bought from Le Grande Store and installed immediately!
    So, you and Felix do it yourself, which is fun, like old times, and you’re done. You give Felix a hug and back you go to your office to catch up.
    The next day Felix phones.
    “I don’t believe it!” he exclaims. “Mr Rushmore was spotted smiling this morning! Apparently he was practicing it while straightening his tie in the mirror! And Mrs Slowmore said that the hotel is as glamorous as Le Grande Store!”
    Well, you are truly delighted with this news. You speak to Felix every week or so, getting updates on the lift and just generally chatting, and this year you hold your annual Christmas party at Comfy Hotel. It is a big success and you are glad you and Felix are friends again.
</p>
<p>
    <b>THE END</b>    
    <br />Click "Activity 2" on the menu bar above if you would like to start gain.
</p>
