
@{
    ViewBag.Title = "Page14";
}

<h2>Page 14</h2>
<img src="/Images/Page14_which.png" style="float:right;width:256px;height:256px;" />
<p>
    So where are we, let’s have a think. You’ve spoken to two guests who were quite different. 
    Mrs Slowmore thinks the lifts are much better at the Le Grande Store. 
    Mr Rushmore seemed annoyed that he couldn’t get any mobile phone reception. What now?
</p>
<ul>    
    <li>If you think Felix needs to do something about the mobile phone reception go to @Html.ActionLink("Page 15", "Page15", "Requirements")</li>
    <li>If you decide to visit Le Grande Store go to @Html.ActionLink("Page 13", "Page13", "Requirements")</li>
</ul>
