
@{
    ViewBag.Title = "Page16";
}

<h2>Page 16</h2>
<img src="/Images/Page16_hedgehog.png" style="float:right;width:256px;height:256px;" />
<p>
    So this is a mystery. You visit the manager of Le Grande Store and ask about the lifts. She is an old friend, as luck would have it, so she is happy to chat with you while she looks over the next year’s budget. She seems surprised about the lifts – nobody has ever complained! And even more surprised that Felix has a problem with his. She also remembers when Felix had his lifts installed and was the talk of the town. She is as flummoxed as you.
    You decide to go back and watch the lifts for a little while. Not timing them this time, just watching. Funnily enough just as you take up your position (leaning slightly on a pillar as if just resting for a while) Mrs Slowmore appears. She presses the lift button, then quickly fixes her lipstick in the mirror next to the lift before it arrives. Hmm... Another customer arrives and you see him adjust his tie, and then someone pats down their hair. A child pulls faces in the mirror and a dog sniffs its own face. Hmm... Have you spotted something interesting?

</p>
<ul>    
    <li>If you decide that there is really not much more that you can do, go to @Html.ActionLink("Page 9", "Page9", "Requirements")</li>
    <li>If you think installing mirrors by the lift might help go to @Html.ActionLink("Page 17", "Page17", "Requirements")</li>
</ul>
