
@{
    ViewBag.Title = "Page5";
}

<h2>Page 5</h2>
<img src="/Images/Page5_algorithm.png" style="float:right;width:256px;height:256px;" />
<p>
    The lift computer code, the algorithm, was written 10 years ago! 
    <br />It was written in a coding language you know quite well because you were a student even before that, 
    but hardly any of your staff know it.  They all do much more modern things.
    <br />That’s ok, you can look at it yourself, you are happy to help on old friend, 
    though it is quite complicated, and you can’t quite understand all of the code. 
    <br />There seems to be a particularly complicated bit you might just rewrite differently although you are not sure what it is really supposed to do…
</p>
<p>
    <b>    What do you think?</b>

</p>
<ul>    
    <li>If you decide to keep on with the code even though it is very complicated go to @Html.ActionLink("Page 8", "Page8", "Requirements")</li>
    <li>If you tell him that he needs to build another lift go to @Html.ActionLink("Page 4", "Page4", "Requirements")</li>
    <li>If you tell him that you would like to spend a day observing the lift use go to @Html.ActionLink("Page 6", "Page6", "Requirements")</li>

</ul>
