
@{
    ViewBag.Title = "Page13";
}

<h2>Page 13</h2>
<img src="/Images/Page13_shop.png" style="float:right;width:256px;height:256px;" />
<p>
    Ah what a wonderful place! You feel like a child in a toy shop! So many beautiful and wonderful things to buy, the displays all gold and silver and sparkling, you are not surprised Mrs Slowmore likes it here – but what about the lifts?
    You decide to do something similar to your observation at Comfy Hotel. You stand by the lifts on the ground floor and time how long it takes for the lifts to come. This is not quite as nice as sitting in the Comfy Hotel with tea and biscuits but it is for a friend. By lunch time you are making a surprising discovery – it seems to be roughly 3 minutes for a lift to come, the same as Comfy Hotel.
    You go to another floor after lunch (you treat yourself to a delicious lunch in the café). The same thing, 3 minutes, this is very strange.
    What do you make of all this?

</p>
<ul>    
    <li>If you think the customers are wrong because the lift is the same speed go to @Html.ActionLink("Page 9", "Page9", "Requirements")</li>
    <li>If you think there’s something you must be missing, go to @Html.ActionLink("Page 16", "Page16", "Requirements")</li>
</ul>
