
@{
    ViewBag.Title = "Page10";
}

<h2>Page 10</h2>
<img src="~/Images/Page10_guestbook.png" style="float:right;width:256px;height:256px;" />
<p>
    What a good idea to talk to the guests! But not all of them are very friendly. Karen looks through the guest list and decides against Mr Blue and Mr Grey who have come to the conference on Bio Fuels because they always seem in such a hurry. The family in room 56 have a screaming baby so Karen thinks they might be best left alone…finally she decides that there are 2 people you can talk to. Old Mrs Slowmore, the friendly old lady who lives on the 10th floor with her parrot and her poodle. And Mr Rushmore, a rather fierce looking business man who owes Felix a favour.
    Who would you like to talk to?

</p>
<ul>    
    <li>If you decide to talk to Old Mrs Slowmore go to @Html.ActionLink("Page 11", "Page11", "Requirements")</li>
    <li>If you decide to talk to Mr Rushmore go to @Html.ActionLink("Page 12", "Page12", "Requirements")</li>
</ul>
