
@{
    ViewBag.Title = "Page1";
}

<h2>Page 1</h2>
<img src="/Images/Page1_thebigboss.png" style="float:right;width:256px;height:256px;"/>
<p>
    You are The Big Boss of a software company. <br/>
    You work in a grand office with a view of the park. <br />
    You have your own mug with The Big Boss written on it that was a Christmas present last year, and you have a huge comfy chair that swivels and is on wheels and goes up and down.
    </p>
<p>
    One day, the phone rings. You answer, and it is your old friend Felix. You haven’t spoken to him for ages and are pleased to hear his voice, but quickly you realise that something is wrong.
</p>
<p>
    “Please help me!” Says Felix. “You have all the computers and computer programmers and algorithms and everything, you can help me!”<br />
    “Calm down” you say, “and explain to me the problem”.<br />
</p>
<p>
    So Felix goes on to tell you all about The Great Lift Problem.
    Felix owns and manages Comfy Hotel, one of the grandest and most expensive hotels in the whole of Techville. Ten years ago he was the very first person to install lifts in a hotel in Techville and he was the talk of the town. But now, everyone has lifts. But worse, everyone else has better lifts. Customers have started complaining that the lifts at Comfy Hotel are too slow. Fewer people are booking in. The hotel is losing money. Help!
</p>
<p><b>What will you do?</b>    
</p>
<ul>
    <li>If you decide to go and visit Felix at Comfy Hotel now, go to @Html.ActionLink("Page 3", "Page3", "Requirements")</li> 
    <li>If you decide not to help out an old friend, go to @Html.ActionLink("Page 2", "Page2", "Requirements")</li>     
</ul>




