@{
    ViewBag.Title = "Code Pond";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Story of Code Pond
    </p>    
    <p>
        Opinion article about coding and software engineering
    </p>

    <p>
        Opinion article about girls in software
    </p>

    <p>
        Links to gov strategy and other
    </p>
</article>

