@{
    ViewBag.Title = "Welcome to Code Pond.";
}


<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>Some examples of activities soon to be released are:</h3>
<ol class="round">
    <li class="one">
        <h5>The Princess detector</h5>
        An offline strategy game to detect a real princess.        
    </li>

    <li class="two">
        <h5>Bacon Architects - guaranteed 100% wolf proof</h5>
        See which little pig comes through your door today        
    </li>

    <li class="three">
        <h5>The great glass slipper race</h5>
        Can you be sure that the Prince will get to the bottom of Cinderella's staircase at exactly the right time?        
    </li>
</ol>
