
@{
    ViewBag.Title = "Feedback";
}

<h2>Lesson 3</h2>
<h2>User Interface Design</h2>
<h1>Quiz</h1>




<p>That was so much help. Could you do one more thing for me and answer the questions on this quiz?
    <br />It is always good to learn from all the things we do so we can do better next time!
    <br /> Use the notes that you have made to help with your answers.</p>
<br /> <i>Don't forget to get a teacher or adult to type in their secret at the end</i></p>

<iframe src="https://docs.google.com/forms/d/1k_J9jSNTFroOrjikPHGZ0RKgIakM8f7ADblGBWN2kDA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

