
@{
    ViewBag.Title = "Index";
}

<h2>User Interface Design</h2>
<h1>Making a Simple Simon Game</h1>
<p>
    <img src="~/Images/SimpleSimon.png" style="float:right;width:256px;height:256px;" />
    We have been asked to do a really exciting project! 
    <br />A games company wants us to make a Simple Simon game. 
    <br />Have you ever seen one? In the olden days, like when your parents were children, they used to look a bit like this picture.
</p>

<p>
    They were a kind of memory game, the lights around the edge flashed, you had to remember the order and then repeat it.
</p>
<p>
    I have put my best programmer onto this and she has just emailed me to tell me it is finished
    </p>
<p>There is a little problem, my User Experience designer is on holiday, I'm sure it will be ok...</p>


<p>
    <b>First you need a worksheet:</b>
 <br /><a href="http://goo.gl/forms/gdIVbim1Iw" target="_blank">Online worksheet</a> or <a href="~/Images/UserExperience_Worksheetv2.pdf" target="_blank">Paper Worksheet</a>
    <br /><i><small>If you open an online worksheet pull it to its own window and place the activity and the worksheet windows side by side.</small></i>
 </p>

<p><b>Now you are ready to start the activity:</b>
    <br />@Html.ActionLink("Online Activity", "Page1", "UserDesign") (no paper version)
</p>









