
@{
    ViewBag.Title = "Page_Frame";
}

    <div class="container">
    <iframe id="menu01" src="Page0" width="550" height="600"></iframe>
    <iframe id="menu02" src="https://docs.google.com/forms/d/1JMj4_MeuSiZtcHLumQc60M7cYXgmEFCUYTRTU3aSI_Y/viewform" width="550" height="600"></iframe>
</div>


