
@{
    ViewBag.Title = "Page1";
}


<h3>Page 1: Simple Simon Game Version 1</h3>

<p>
      
    <br />So...Jade is really pleased with her work...look here is an email from her...
    <br /><img src="~/Images/JadeEmail.png" style="float:none;width:486px;height:156px;" />  
    <br />...but, oh dear...it looks...rubbish.
</p>

<p>
Will you have a look at it and see what you think?
</p>
<p>Click the green flag, then click around the screen and see if you can get it to work!</p>

<p>
    <i>For some extra help and instructions watch the video here</i>
    <a href="~/Images/UserDesign1.swf" target="_blank">Helper video 1</a>
</p>

<p>
    <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/91757834/?autostart=false" frameborder="0" allowfullscreen></iframe>
</p>
<p>
    <img src="~/Images/pencil.png" style="float:left;width:56px;height:56px;" />
    When you are ready there are a few questions on your worksheets.        
</p>

<p>
    <br />
    <b>Ok, now here is your chance to change it!</b>
    <br />My designer is on holiday but I hear good things about your ability to choose colours and arrange things so please please help out.
    <br />If you click below you will find our design studio where you can change the design.
    <br />@Html.ActionLink(">>Next Page", "Page2", "UserDesign")
</p>

