
@{
    ViewBag.Title = "Page3";
}


<h3>Page 3: The Boss's Redesign</h3>

<p>
   This is my version - but I like your version better, so thanks so much for helping!
    <br /> Have a play around with my version and then answer your final worksheet questions.  
</p>
<p>
    <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/91757986/?autostart=false" frameborder="0" allowfullscreen></iframe>
</p>
<p>
    <img src="~/Images/pencil.png" style="float:left;width:56px;height:56px;" />
    When you have are ready there are a few questions on your worksheets to answer.    
</p>

<p>
    Thank you so much! You have been such a help and I am sure the games company will be releasing this game soon!    
</p>
<p><b><i>THE END</i></b></p>


