
@{
    ViewBag.Title = "Page2";
}


<h3>Page 2: Simple Simon Design Studio</h3>

<p>
    Thanks for offering to help!
    <br /> In the design studio below, when in design mode, you can move all of the items around the screen, the 4 lights and the 3 buttons.
    <br /> You can also change the colours of anything - the background, the lights, the buttons.
    <br /> If you make some changes, you can then go to Play Mode and try them out.
    <br /> You can go back and forth between Design Mode and Play Mode until you are happy.    
</p>
</p>
<b>Click the green flag, have a go at changing things around, I believe you can do a really good job!</b>
<p>
<p>
    <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/91757902/?autostart=false" frameborder="0" allowfullscreen></iframe>
</p>
<p>
    Have you finished? Are you satisfied?
</p>

<p>
    <img src="~/Images/pencil.png" style="float:left;width:56px;height:56px;" />
    When you are ready there are a few questions on your worksheets.
</p>
    

<p>
    Thank you so much! I had a play around too, would you like to see my version?    
    <br />@Html.ActionLink(">>Next Page", "Page3", "UserDesign")
</p>

