
@{
    ViewBag.Title = "Activities";
}

<br /><i>Click on the Activities on the menubar to start any of these activities.</i>

<div class="row">
    <div class="col-md-3">
        <h2>Activity 1: Simple Simon Game Design</h2>
        <p>
            The purpose of this lesson is to realise that the way that information is presented to us visually influences how we understand it and interact with it.
            <br /> In this lesson you find a badly designed interface and then have an opportunity to redesign it.
            <br />The projects are in scratch, embedded in this website (so it won't work on tablets).            
        </p>
    </div>

        <div class="col-md-3">
            <h2>Activity 2: The Great Lift Problem</h2>
            <p>
                This lesson is based on what is almost an urban myth, a sort of joke, but I won't give the game away!
                <br /> This is a choose your own adventure style story giving the you the option to repeat the exercise if they don't like the first outcome.
                <br /> This project can be run on paper, on iPads or on computers.                
            </p>
        </div>
            <div class="col-md-3">

                <h2>Activity 3: But what do we do?</h2>
                <p>
                    This activity is designed to look at the importance of documentation, of instructions, in how we use computers.
                    <br />N.b. The lessons use a scratch project that is embedded in this website (no need to go to scratch, or log in or anything like that). It does mean they won't work on tablets.                    
                </p>
            </div>
    <div class="col-md-3">

        <h2>Activity 4: Beebots Forever</h2>
        <p>
            This activity is a designed to look at a complete software development cycle, from design through to user testing.
            <br />N.b. The lessons use a scratch project that is embedded in this website (no need to go to scratch, or log in or anything like that). It does mean they won't work on tablets.            
        </p>
    </div>


            </div>