
@{
    ViewBag.Title = "Before";
}

<h2>Pre-Activity Questionnaire</h2>
<p>
    If you are willing to help with my research, please complete the questionnaire before starting the activities
    This will enable me to organise the data effectiviely and to assess the learning and motivational progress.
</p>
<iframe src="https://docs.google.com/forms/d/19-k2DDHD4dunOE0Nx9zju6JIGMxQtVQfu1RDToy5UmM/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


