
@{
    ViewBag.Title = "Design";
}

<h2>Activity 2: <b>Simple Simon Game Design</b> (User Interface Design)</h2>
<p>
    The purpose of this lesson is for children to realise that the way that information od presented to us visually influences how we understand it and interact with it.
    <br /> In this lesson they finsd a badly designed interface and they have an opportunity to redesign it.
    <br />The projects are in scratch, embedded in this website (so it won't work on tablets).        
</p>
<p>
    <h3>Online Version</h3>
    @Html.ActionLink("Click here for Activity 2", "Index", "UserDesign")
</p>
<p>
    <h3>Paper Version</h3>(not currently implemented)
    <br /><a href="~/Images/Questionaire Lesson 2 Design.pdf">Paper Activity 2</a>
    <br /><a href="~/Images/Questionaire Lesson 2 Design.pdf">Paper Worksheet 2</a>
</p>
