
@{
    ViewBag.Title = "Documentation";
}

<h2>Activity 3: <b>But What Do We Do?</b> (Documentation)</h2>
<p>
    This activity is designed to get children thinking about how the way we communicate how something is use can effect how it actually is used. The understanding of how this is communicated can determine the design itself, or is part of the design itself. Conceiving of the design solution includes understanding or designing this communication.
    <br /> I note this is something that can be overlooked in importance which is a reason I have specifically chosen it.
    <br />N.b. The lessons use a scratch project that is embedded in this website (no need to go to scratch, or log in or anything like that). It does mean they on't work on tablets.    
</p>
<p>
    <h3>Online Version</h3>
    @Html.ActionLink("Click here for Activity 3", "Index", "Documentation")
</p>
<p>
    <h3>Paper Version</h3>(not currently implemented)
    <br /><a href="~/Images/Questionaire Lesson 2 Design.pdf">Paper Activity 3</a>
    <br /><a href="~/Images/Questionaire Lesson 2 Design.pdf">Paper Worksheet 3</a>
</p>


