
@{
    ViewBag.Title = "Lesson1";
}

<h2>Lesson1</h2>

<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/87493173/?autostart=false" frameborder="0" allowfullscreen></iframe>

<p>Drag the characters around to order them</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/88235715/?autostart=false" frameborder="0" allowfullscreen></iframe>


<iframe src="https://docs.google.com/forms/d/1GPtJ4Ksjat3OWpkh63zA0LRonMh7VHtypKifgkXoC94/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>