
@{
    ViewBag.Title = "Masters";
}

<h2>Masters' Dissertation</h2>

<h3>Department of Computing, Open University</h3>



<p>12th February 2016</p>


<p>
    Dear Parent/Carer,
</p>

<p>
    I am a student undertaking an MSc in Computing for Commerce and Industry at the Open University. As part of my course I am undertaking a research study titled: Software development concepts in the computing curriculum at KS2. The purpose of this study is to see if software development concepts are appropriate at the KS2 age in terms of being motivational and learnable. I am particularly interested in computational thinking, and whether software development concepts can help teach computational thinking at different levels of abstraction (as opposed to coding which focuses on a detailed level of abstraction at implementation).
</p>
<p>
    Prior to undertaking the study, I need your consent to carry out this research. Due to ethical considerations of working with children I will not have any direct participation in this study, the activities in the research are to be carried out in a child’s usual setting. As such I would need your consent by way of contacting me to inform me of your intent and consent to be involved in this research.
</p>
<p>
    The time that I am asking for is as much of the activities as you have time to engage with.
    The adult has a 5 minute before and after questionnaire.
    Each of the child’s activities are different lengths and you can take your pick. They are roughly:
    <br />Activity 1: core 40 minute activity with an online “design studio”.
    <br />Activity 2: Brief choose your own adventure book, need be no more than 10 minutes but spend as long as you like.
    <br />Activity 3: Longer 90 minute activity, or 2 activities. Another online design studio.
    <br />Activity 4: A big project, approximately 5 hours, designing a scratch beebot, I can offer support if you wish to attempt this.
</p>
<p>
    I can assure you that any data collected will remain confidential. The names will be anonymised, the parents and children will not be referred to by name, only by age, gender and location groups. My proposal and its ethics have been accepted by the Open University. I have attached to this letter the ethical considerations approved by the university.
</p>

<p>
    Prior to using any data I will email all the results from each group to the registered adult for verification. I will inform all registered adults once the dissertation is complete and provide an electronic copy.
</p>
<p>
    Your sincerely,

</p>
<p>
    Rachel Alcraft
    <br /><a href="mailto:rachelalcraft@gmail.com">RachelAlcraft@gmail.com</a>
</p>

    <h3>Open University Computing Department</h3>
<h4>
    Ethical considerations for the MSc thesis:
    Software development concepts in the computing curriculum at KS2
</h4>

<table style="width:100%">
    <tr>
        <th>Ethical Issue</th>
        <th>How the issue can be managed</th>        
    </tr>
    <tr>
        <td>Use of a vulnerable group – children – in lesson activities.</td>
        <td>No children will be directly recruited for the research, the research will be delivered in a child’s usual setting and by their usual caregivers, e.g. their class teacher, or perhaps parents.</td>        
    </tr>
    <tr>
        <td>Informed consent</td>
        <td>Explanation given to teachers and parents in an introductory email explaining the nature of the research, it’s purpose, the time it will take, how confidentiality will be ensured and what follow up will be given.</td>
    </tr>
    <tr>
        <td>Openness and integrity</td>
        <td>The results will be made available to all participants for review.</td>
    </tr>
    <tr>
        <td>Confidentiality</td>
        <td>Identities will not be revealed of any teacher, parent or child participants, they will be referenced by class age and all school names will be anonymised.</td>
    </tr>
    <tr>
        <td>Using other’s research</td>
        <td>Strong adherence to transparency and correct referencing to ensure nothing is misattributed or incorrectly implied.</td>
    </tr>
    <tr>
        <td>Responsibility for recommendations</td>
        <td>Openness and transparency in all results and how any conclusions are drawn to be sure not to present leading arguments and to allow any interested parties to understand the results and independently evaluate any conclusions.</td>
    </tr>
</table>

