
@{
    ViewBag.Title = "Requirements";
}

<h2>Activity 1 Teacher Page</h2>
<h2>Requirements</h2>
<h2><b>The Great Lift Debate</b>(Requirements Analysis)</h2>

<p><b>Guide to the Activity</b>

    This lesson is based on what is almost an urban myth, a sort of joke, but I won't give the game away!
    <br /> This is a choose your own adventure style story giving the children the option to repeat the exercise if they don't like the first outcome.
    <br />To facilitate this lesson please ask all the children to do the exercise once, talk about their results, then get them to repeat it a couple more times.
    </p>
<p>
    <h3>Online Version</h3>
    @Html.ActionLink("Click here for Activity 1", "Index", "Requirements")
</p>
<p>
    <h3>Paper Version</h3>(not currently implemented)
    <br /><a href="~/Images/Questionaire Lesson 2 Design.pdf">Paper Activity 1</a>  
    <br /><a href="~/Images/Questionaire Lesson 2 Design.pdf">Paper Worksheet 1</a>  
    
</p>




