
@{
    ViewBag.Title = "Page1";
}


<h1>Rosemary Works Summer Fete</h1>
<h3>Scratch Games by Years 3-5</h3>

<h3>Pop!</h3>
<p>    
    <img src="~/Images/DummyInstructions.jpg" style="float:left;width:405px;height:402px;" />        
    <iframe allowtransparency="true" width="705" height="602" src="//scratch.mit.edu/projects/embed/108489934/?autostart=false" frameborder="0" allowfullscreen></iframe>    
</p>

<h3>Rocky Road</h3>
<p>
    <img src="~/Images/DummyInstructions2.jpg" style="float:left;width:405px;height:402px;" />
    <iframe allowtransparency="true" width="705" height="602" src="//scratch.mit.edu/projects/embed/108490031/?autostart=false" frameborder="0" allowfullscreen></iframe>
</p>

<h3>Space Splat</h3>
<p>
    <img src="~/Images/DummyInstructions2.jpg" style="float:left;width:405px;height:402px;" />
    <iframe allowtransparency="true" width="705" height="602" src="//scratch.mit.edu/projects/embed/108490076/?autostart=false" frameborder="0" allowfullscreen></iframe>
</p>

<h3>Gravity Ball</h3>
<p>
    <img src="~/Images/DummyInstructions2.jpg" style="float:left;width:405px;height:402px;" />
    <iframe allowtransparency="true" width="705" height="602" src="//scratch.mit.edu/projects/embed/108490189/?autostart=false" frameborder="0" allowfullscreen></iframe>
</p>

<h3>School Run</h3>
<p>
    <img src="~/Images/DummyInstructions2.jpg" style="float:left;width:405px;height:402px;" />
    <iframe allowtransparency="true" width="705" height="602" src="//scratch.mit.edu/projects/embed/108490291/?autostart=false" frameborder="0" allowfullscreen></iframe>
</p>

