
@{
    ViewBag.Title = "Teachers";
}

      
   <h1>Teacher Pack</h1>
<p>
    These activities are designed to teach computational thinking at different stages of the software process aimed at KS2, age 7-11.
    For each activity there are varying lengthed activities with lesson plans, designed to help you plan and assess learning.
    <br />I ask that you do whatever you can of these to help me with my research.
    <br />Activity 1: 40 minutes, the basic activity to try.
    <br />Activity 2: 15 minutes, a simple starter activity.
    <br />Activity 3: 2 x 40 minutes, maybe only for those really interested, similar in style to Activity 1
    <br />Activity 4: 5 x 40 minutes, a big project, if you are interested get in touch and I'd be delightd to support you.
    <br />Each activity has an accompanying worksheet to be filled out as the lesson progresses. For those participating in my research I will collect these.
    <br />Children may work in pairs or singly, but each should fill out their own worksheet.
    <br /><br /><i>If you would like to participate in the research and have not already been in touch, please <a href="mailto:rachelalcraft@gmail.com">email me.</i></a>
</p>

<h3>RESEARCH: Pre Activity Questionaire</h3>
<p>
    Please before you start with the activities, fill out the online questionaire here. This is designed to give me an idea of your background and expectations. It should take no more than 5 minutes.
    <br /><a href="http://goo.gl/forms/L9nm299BlV" target="_blank">Pre Sessions Questions</a>
    
</p>

<h3>Informed Consent</h3>
Please discuss with the children that this is for research and is designed to improve computing topics taught to children. 
<br />Each child needs to decide if they are happy to participate and fill in the consent form below.
<br /><a href="http://goo.gl/forms/HUigOkJsfy" target="_blank">Pre Sessions Questions</a>        

<h3>Activity 1: Simple Simon Game Design</h3>
<p><i>The online-only activity requires a computers (as opposed to a tablet) as it uses an embedded scratch project which needs support for </i></p>
<p>In this activity children are presented with a badly designed game that is unplayable. 
    Using a design studio within the webpage they can change the layout and colours to create a redesign
    that turns the game into something playable with no code changes.
    This activity teaches the children about user experience, 
    and how design crucially influences the usability of a software artefact.</p>
<p>       
    <a href="~/Images/UserExperience_SessionPlan40.pdf">Lesson plan</a>          
    <br /><a href="http://goo.gl/forms/gdIVbim1Iw" target="_blank">Online worksheet</a> or <a href="~/Images/UserExperience_Worksheet.pdf" target="_blank">Paper Worksheet</a>
    <br />@Html.ActionLink("Online Activity", "Index", "UserDesign") (no paper version)
</p>

<h3>Activity 2: The Great Lift Debate</h3>
<p>In this activity children pick their own way through a choose your own adventure in user requirements.
    <br />The scenario is based on a true story about the early days of lifts in the skyscrapers of New York.</p>
<p>
    <a href="~/Images/UserExperience_SessionPlan40.pdf">Lesson plan</a>
    <br /><a href="http://goo.gl/forms/ImEVlf0ei2" target="_blank">Online worksheet</a> or <a href="~/Images/Requirements_Worksheet.pdf" target="_blank">Paper Worksheet</a>
    <br />@Html.ActionLink("Online Activity", "Index", "Requirements") or <a href="~/Images/TheGreatLiftProblem.pdf">Paper Activity</a> ( this prints well if you choose "booklet", it takes 5 sheets).    
</p>


<h3>Activity 3: But What Do We Do?</h3> 
<p>In this activity the childrena re faced with an insurmountable task, to design the keys for a 2 player game without any documentation. The aim is for it to become clear that this is not possible, and for the the children to gain a first hand understanding of how the use documentation impacts the design decisions of the game. </p>
<p>This is a double activity for which there is a double lesson plans and 2 worksheets.</p>
<p>
    <a href="~/Images/Documentation_SessionPlan.pdf">Lesson plan</a>
    <br /><a href="http://goo.gl/forms/FWCaCLM6Qt" target="_blank">Online worksheet 1</a> or <a href="~/Images/Documentation_Worksheet1.pdf" target="_blank">Paper Worksheet 1</a>
    <br /><a href="http://goo.gl/forms/4yU5j5GDSH" target="_blank">Online worksheet 2</a> or <a href="~/Images/Documentation_Worksheet2.pdf" target="_blank">Paper Worksheet 2</a>
    <br />@Html.ActionLink("Online Activity", "Index", "Documentation") (no paper version)
</p>


<h3>Activity 4: Beebots Forever</h3>
<p>Coming soon...</p>
<p>This is a big half a term project</p>

<h3>RESEARCH: Post Activity Questionaire</h3>
<p>
    Please after you have done the activities, fill out the online questionaire here. This is designed to give me an idea of how you feel it went. It should take no more than 5 minutes.
    <br /><a href="http://goo.gl/forms/TQaL40Ajm7" target="_blank">Post Sessions Questions</a>
</p>


  