
@{
    ViewBag.Title = "CompThinking";
}

<h2>CompThinking</h2>

Put in my reviews of comp thinking and my own theory that different phases of the software process require diffent thinkg, potenitally differne tbrains or types of people. Comp think operateds at different levels of abstraction with the computer.