
@{
    ViewBag.Title = "Methodology";
}

<h2>Methodology</h2>

Require something that the kids will be amenable to, I couldn;t force them to do something they odn;t want to.
Direct asking of questions may not give apprparuate responses so a qualitative and quantitive mix on a small select group for rich data.
Choice of material was through careful design.