
@{
    ViewBag.Title = "Gravity Ball";
}

<h2>Gravity Ball</h2>


<div class="row">
    <div class="col-md-4">        
        <p>
            <img src="~/Images/GravityInst.jpg" style="float:left;width:405px;height:602px;" />
        </p>

    </div>
    <div class="col-md-4">
        <p>
            <iframe allowtransparency="true" width="705" height="602" src="//scratch.mit.edu/projects/embed/108490189/?autostart=false" frameborder="0" allowfullscreen></iframe>
        </p>
    </div>
</div>
