@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School Fete Project</h1>
    <p class="lead">
        Rosemary Works Primary School Years 3,4,5 Software Development School Fete Project
        <br /><br /> <i>For the games, click on the menu bar links.</i>
    </p>    
</div>

<p>These games were created by the talented children of Rosemary Works Primary School</p>
<address>
    Rosemary Works Primary School<br />
    1 Branch Place<br />
    London N1 5PH<br />
    <abbr title="Phone">P:</abbr>
    020 7739 3950
    <br /><a href="http://rosemaryworks.com/">Rosemary Works School Website</a><br />
</address>





<p>
    The project is part of a Masters Dissertation through the Open University by Rachel Alcraft
    <br />Email: <a href="mailto:rachelalcraft@gmail.com">RachelAlcraft@gmail.com</a>
</p>


