
@{
    ViewBag.Title = "Walkthrough";
}

<h2>Walkthrough</h2>
<div>
    <h3>Start</h3>
    <p>        
        <img src="~/Images/Act3_Start.png" style="align-content:flex-end ;width:auto;height:auto;" />
        The first page contains an explanation of the scenario.

    </p>
</div>
<div>
    <h3>Page 1</h3>
    <p>
        <img src="~/Images/Act3_Page1.png" style="align-content:center;width:auto;height:auto;" />
        Here we are faced with choosing the keys for up, right, down and left for 1 player.
        

    </p>
</div>