@{
    ViewBag.Title = "Rae Sara Jones";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Rae Sara Jones is a software developer investigating the teaching of software development concepts in primary schools.</p>
<p>Rae Sara Jones is currently working on 2 main projects</p>
<p><b>Masters Dissertation</b><br />A dissertation to discover if software development concepts should be taught in primary schools.</p>
<p><b>Lessons Portfolio</b><br />A set of lessons for teaching in primary schools.</p>


